.header {
  padding-top: 17px;
  padding-bottom: 17px;
  border-bottom: 1px solid #D6D6D6;
}

.header-content {
  display: flex;
  align-items: center;

}

.header-nav {
  font-weight: 500;
  color: #292929;
  margin-left: 12vw;
}

.header-nav ul {
  display: flex;
}

.header-nav li {
  margin-right: 5vw;
}

.header-nav li:last-child {
  margin-right: 0px;
}

.header-nav a {
  transition: color 0.2s ease;
}

.header-nav a:hover {
  color: #01996D
}

.header-login {
  margin-left: auto;
}

.header-login > * + * {
  margin-left: 35px;
}

.header-login-link {
  color: #000;
  transition: color 0.2s ease;
}

.header-login-link:hover {
  color: #01996D
}


@media (max-width: 1024px) {
  .header-nav {
    font-weight: 500;
    color: #292929;
    margin-left: 5vw;
  }

  .header-nav li {
    margin-right: 4vw;
    font-size: 15px;
  }

  .header-login-link {
    font-size: 15px;
  }

  .header-login .btn {
    font-size: 15px;
  }
}

.burger-menu {
  display: none;
  height: 25px;
  flex-direction: column;
  justify-content: space-around;
}

.burger-menu div {
  width: 40px;
  height: 5px;
  background-color: #484848;
}

.mobile-menu {
  display: none;
}

.menu-icon {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .header-nav li {
    margin-right: 70px;
  }
}

@media only screen and (max-width: 768px) {
  .header-nav ul {
    display: none;
  }

  .burger-menu {
    display: flex;
  }

  .menu-icon {
    position: relative;
    display: block;
    color: #484848
  }

  .menu-icon:after {
    content: '';
    position: absolute;
    right: -15px;
    top: 12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #484848 transparent transparent transparent;
  }
}